div#preload { display: none; }

#random{
	background-position: center center;
	background-size: cover;
	background-color: #151515;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.bodyx {
	background-position: center center;
	background-size: cover;
	font-family: Arial;
	font-size: small;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #000000;
	background-image: url('https://i.imgur.com/NJa7ixC.png');
	width: 100%;
	position: static;
	height: 100%;
}

.maintable {
}

.headertable {
	padding-left: 16px;
	border-top-left-radius: 32px;
	opacity: 0.8;
}
.logo {
	border-width: 1px;
}
.headerlinks {
	padding: 16px;
	text-align: center;
	font-size: 48px;
	font-family: Arial;
	font-weight: bolder;
	
}
.maintext {
	text-align: left;
	font-size: large;
	font-family: Arial;
	font-weight: normal;
}
.transparentbg {
	background: rgba(0, 0, 0, 0.4);
	border: 0px solid #fff;
}
.footer {
	font-family: Arial;
	font-size: small;
	text-align: right;
	font-weight: normal;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a:active {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.line {
	width: 75%;
	border-color: #FFFFFF;
	border-style: solid;
	opacity: 0.8;
}

#reset-this-root {
    all: initial;
    * {
        all: unset;
    }
}

.blurin{
	animation: blur .5s linear;
	animation-delay: 0s;
	animation-fill-mode: forwards;
}

@keyframes blur{
	0% {
		filter: blur(20px);
	}
	10% {
		filter: blur(15px);
	}
	30% {
		filter: blur(10px);
	}
	50% {
		filter: blur(5px);
	}
	100% {
		filter: blur(0px);
	}
}